html, body{
    margin: 0;
    padding: 0;
}
.slider-container{
    min-height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slider-container .slide{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right:100%;
    /* transition: transform 1s linear; */
    background: rgb(236, 236, 236);
    
}
.slider-container .slide .to-left{
    transform:translate(200%)
    
}
.slider-container .slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    image-resolution: 300dpi;

}
.slider-container .slide:first-child{
    /* display: block; */
    transform:translate(100%)
}
.slider-container .slide-nav{
    width: 100%;
    position: absolute;
    top: 50% ;
    width: 80px;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 40px;
    font-style: normal;
    line-height: 24px;
    margin-top: -12px;
    height: 24px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.slider-container .slide-nav.left{
    left:0
}
.slider-container .slide-nav.right{
    right:0
}
