html, body{
    margin: 0;
    padding: 0;
}
body{
    background-color: #383838;
}
.slider-container{
    min-height: 600px;
    width: 51em;
    overflow: hidden;
    position: relative;
    margin: 2em auto 0 auto;
    box-shadow: 0px 0px 20px 2px #000000;
    border-radius: 1.5em;
}
.slider-container .slide{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    /* transition: transform 1s linear; */
    background: rgb(236, 236, 236);
    visibility: hidden;
    
}
/* .slider-container .slide:first-child{
    /* display: block; */
   /* right:0; */
/* }  */
.left{
    right:100%;
}
.right{
    right:-100%;
}
.slider-container .slide.active-slide{
    visibility: visible;
    transition: right 1s ease-in-out;
    right: 0;

}
.slider-container .slide.prev-slide.left, .slider-container .slide.prev-slide.right{
    visibility: visible;
    transition: right 1s ease-in-out;

}
.slider-container .slide .to-left{
    transform:translate(200%)
    
}
.slider-container .slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    image-resolution: 300dpi;

}
.slider-container .slide-nav{
    width: 100%;
    position: absolute;
    top: 50% ;
    width: 80px;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 30px;
    font-style: normal;
    line-height: 24px;
    margin-top: -12px;
    height: 24px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 0px 0px 3px #343434;

}
.slider-container .slide-nav.left{
    left:0
}
.slider-container .slide-nav.right{
    right:0
}
